name: Prettier

on: [push, pull_request]

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - run: npm install
            - run: npm run format
